*{
    margin:0;
    padding:0;
}

.contactBarPhoneLeft , .contactBarPhoneMiddle{
    display: flex;
    align-items: center;
    
}

.contactBarPhoneLeft{
    margin-right: 2rem;
}

.contactBarPhoneMiddle{
    margin-right:2rem
}

.contactBarPhone{
    display: flex;
    justify-content: center;
}

.contactBarphoneRight > a{
    font-size: 1.5rem;
    color:black;
}

.contactBar{
    display: flex;
   justify-content: space-between;
   align-items: baseline;
    flex-wrap: wrap;
    margin-top:0.5rem;
    
}

.contactBarButton > button {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.4rem;
    font-size:0.9rem;
    background-color:black;
    border:none;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
      display: block;    }

.link > a{
    color:black;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important ;
}

.email{
    margin-left:0.5rem;
}

.webLogo{
    margin-right:6rem;
}

.dog_1{
    object-fit: cover;
    object-position: left;
}

.main{
    position: relative;
}
.above{
    position: absolute;
    top:0px;
    left:0px;
    text-align: left;
}

.caption{
    margin-top:100px;
}

.header{
    font-size:2.3rem;
    color:white;
    font-weight: bolder;
    margin-left:0.8rem;
}

.header2{
    color:white;
    font-size: 2.3rem;
    margin-left:3rem;
}
.description{
    color:white;
    font-size: 1.2rem;
    margin-left:1.3rem;
    margin-top:1rem;
    font-weight: 600;
}

.description2{
    color:white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left:6rem;
}

.learnMore{
    margin-left:20rem;
}

.learnMore2{
    margin-left:10rem;
}

.caption > button{
--bs-btn-padding-x: 3.7rem;
  --bs-btn-padding-y: 0.8rem;
}

.parentWeDo{
    margin: 0 auto;
    padding: 50px 100px;
    background-color:#F4F4F4;
    margin-top: 400px;
    width: 1120px;
    height: 2700px;
}


.bannerWeDo{
    display: flex;
    justify-content: center;
    
    
}

.MainWe{
    position: relative;
    height: 3500px;
}



.firstChildWeDo1{
    position: absolute;
    
    width: 1000px;
    height: 500px;
    background-color: #BB2D3B;
    color:white;
    margin-top: -50px;
    margin-left:11rem;
    text-align: center;
}

.secondChildWeDo{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.serviceWeDo{
    margin-top: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

